<div *ngIf="wishListItem && !isEditing">
  <!--<mat-card-header>-->
    <!--<img mat-card-avatar [src]="wishListItem.image">-->
    <mat-card-title-group>
      <mat-card-title>{{wishListItem.name}}</mat-card-title>
      <mat-card-subtitle>{{wishListItem.price}} €</mat-card-subtitle>
      <img mat-card-md-image [src]="wishListItem.image">
    </mat-card-title-group>
  <!--</mat-card-header>-->
  <!--
  <img mat-card-image [src]="wishListItem.image"/>
  <mat-card-content>
    <p>Something pretty...</p>
  </mat-card-content>
  -->
  <mat-card-actions align="start">
    <button mat-button (click)="onToggleEdit()"><mat-icon>mode_edit</mat-icon> Edit</button>
  </mat-card-actions>
</div>

<div *ngIf="wishListItem && isEditing">
  <app-wish-list-item-edit [item]="cloneItem"></app-wish-list-item-edit>
  <button mat-button (click)="onSaveEdit()"><mat-icon>check</mat-icon> Save</button>
  <button mat-button (click)="onCancelEdit()"><mat-icon>clear</mat-icon> Cancel</button>
</div>

