.mat-card-user {
    border-left: solid 3px #f19550!important;
    margin-bottom: 10px;
}

.mat-card-recipient {
    border-left: solid 3px #b22933!important;
    margin-bottom: 10px;
}

.mat-mini-fab{
    position: fixed;
    right: 30px;
    top: 40px;
}

ngc-float-button {
    top: 34px;
    right: 15px;
}