<div *mobxAutorun>
  <mat-form-field>
    <mat-select placeholder="Users" (change)="onChange($event.value)">
      <mat-option *ngFor="let user of group.users.values()" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedUser">
    <div class="list" *ngIf="selectedUser.wishList.items.length != 0">
      <mat-card *ngFor="let item of selectedUser.wishList.items">
          <app-wish-list-item [item]="item"></app-wish-list-item>
      </mat-card>
      <p>Total: {{selectedUser.wishList.getTotalPrice()}} €</p>
    </div>
    <app-wish-list-item-add [list]="selectedUser.wishList"></app-wish-list-item-add>
    <button mat-button (click)="onClickGetSuggestions()"><mat-icon>lightbulb_outline</mat-icon> Suggestions</button>
  </div>
</div>
