.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Helvetica Neue";
  }
   
  .content {
    flex: 1;
  }
   
   
  /*
   * Make the Component injected by Router Outlet full height:
   */
  main {
    display: flex;
    flex-direction: column;
    > *:not(div) {
        flex: 1;
        display: block;
      }
  }