<footer>
  <mat-toolbar-row color="primary">
      <span>© Copyright {{ currentYear }}</span>
      <span class="toolbar-spacer"></span>
      <a class="github-button" href="https://github.com/abritopach/angular-wishlist-mst" data-icon="octicon-star" aria-label="Star abritopach/angular-wishlist-mst on GitHub">Star</a>
  </mat-toolbar-row> 
  <mat-toolbar-row color="primary">
    <span>Adrián Brito Pacheco</span>
    <span class="toolbar-spacer"></span>
    <a class="github-button" href="https://github.com/abritopach" aria-label="Follow @abritopach on GitHub">GitHub</a>
  </mat-toolbar-row>
</footer>
